/* Variables & Shared classes
========================================================================== */
:root {
  /*YOUTHFUL CITIES COLOURS*/
  --daisy: #fbd166;
  --pink: #f6d9d7;
  --green: #b8d98d;
  --indigo: #253d88;
  --red: #f2695d;
  --brown: #673934;

  /*THE GRID COLOURS*/
  --yellow: #fbd166;
  --orange: #f2695d;
  --plum: #550d35;
  --blue: #5125e8;
  --light-blue: #c9d5e9;
  --grey: #dad6cf;
}

h1 {
  margin: 0;
}

/* Containers
========================================================================== */
.container {
  padding-bottom: 100px;
}

/* Cards
========================================================================== */

.card {
  min-height: 450px;
}

/* Search Module
========================================================================== */

#search {
  margin-top: 250px;
}

.search-module-container {
  padding: 26px;
  margin: 20px auto 20px auto;
  width: 100%;
}

.search-module {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid var(--plum);
  margin-bottom: 13px;
  transition: all 0.2s;
}

.search-module:hover,
.search-module:focus-within {
  border-bottom-color: var(--links);
}

.search-module-icon {
  color: var(--plum);
  margin-right: 8px;
  align-self: center;
}

.search-module-input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  padding: 12px 0;
  transition: all 0.2s;
  color: var(--text);
}

.search-module-input::-webkit-input-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.search-module-input::-moz-placeholder {
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.search-module-input:-ms-input-placeholder {
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.search-module-input::-ms-input-placeholder {
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.search-module-input::placeholder {
  transition: all 0.2s;
}

.search-module-clear {
  color: #898d92;
  font-size: 1rem;
  background: transparent;
  border: none;
  margin: 0;
  outline: none;
  padding: 0 0 0 12px;
  transition: all 0.2s;
}

.search-module-clear:hover {
  opacity: 0.65;
}

.search-module:hover .search-module-input::-webkit-input-placeholder, .search-module:focus-within .search-module-input::-webkit-input-placeholder {
  color: var(--links);
}

.search-module:hover .search-module-input::-moz-placeholder, .search-module:focus-within .search-module-input::-moz-placeholder {
  color: var(--links);
}

.search-module:hover .search-module-input:-ms-input-placeholder, .search-module:focus-within .search-module-input:-ms-input-placeholder {
  color: var(--links);
}

.search-module:hover .search-module-input::-ms-input-placeholder, .search-module:focus-within .search-module-input::-ms-input-placeholder {
  color: var(--links);
}

.search-module:hover .search-module-icon,
.search-module:focus-within .search-module-icon,
.search-module:hover .search-module-input::placeholder,
.search-module:focus-within .search-module-input::placeholder {
  color: var(--links);
}

.fa-search {
  margin-right: 10px;
}

.fa-times-circle {
  margin-right: 10px;
}

/* Override ODS defaults
========================================================================== */

.odswidget-text-search__search-box {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  padding: 12px 0;
  transition: all 0.2s;
  color: var(--text);
  margin-left: 30px;
  font-size: 1rem;
}

.odswidget-text-search__submit {
  color: #898d92;
  left: 0;
}

.odswidget-text-search__form {
  width: 100%;
}

/* Filters
========================================================================== */

.filter-list {
  display: block;
  position: relative;
  border-radius: 0 !important;
}
.filter-list > * {
  margin: 0 0 10px;
  width: 100%;
}

.odswidget-select
  .odswidget-select-dropdown.open
  .odswidget-select-dropdown-menu {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  box-shadow:
    0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.clear-filters {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flext-start;
}
.clear-filters-button:hover {
  opacity: 0.65;
}
.odswidget-select,
.odswidget-select .odswidget-select-dropdown {
  width: 100%;
  border: none;
}

.odswidget-select-input-container {
  border-radius: 0;
  border: none;
}

.odswidget-select-input {
  border-radius: 0;
  box-sizing: border-box;
  border: none;
}

.odswidget-select-button {
  border-radius: 0;
  border: 4px solid var(--orange);
  box-sizing: border-box;
  background: transparent;
}

.odswidget-select-button:hover {
  border-radius: 0;
  border: 4px solid var(--orange);
  box-sizing: border-box;
  background: transparent;
}

@media screen and (min-width: 500px) {
  .filter-list > * {
    margin: 0 10px 10px 0;
    width: inherit;
  }
  .odswidget-select
    .odswidget-select-dropdown.open
    .odswidget-select-dropdown-menu {
    width: 100%;
    min-width: 240px;
  }
}
