/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  height: 100%;
  width: 70%;
  transform: translate(5%);
  margin-right: auto;
  margin-left: auto;
}

.page_card__QV0Om {
  position: relative;
  background-color: var(--plum);
  color: var(--yellow);
  width: 100%;
  padding: 0;
  transition: all 0.8s ease;
  box-sizing: content-box;
}

